
body {
    background: linear-gradient(162deg, rgba(184,196,95,1) 0%, rgba(196,49,153,1) 28%, rgba(181,16,158,1) 53%, rgba(255,0,112,1) 76%, rgba(244,0,255,1) 97%);
}

main {

    margin-left: 700px;
    margin-top: -10px;
    
}

aside {
    float: left;
    margin: -10px;
}

#main-content {
    padding-left: 100px;
    padding-right: 30px;
}

#top-bar-2 {
    width: 45%;
    float: left;
    margin: 0px;
}

#nav-bar {
    list-style-type: none;
    overflow: hidden;
    margin-left: 150px;
}

#nav-bar li {
    float: left;
    margin-top: 25px;
    font-size: 25px;
    font-family: 'NimbusSan';
    margin-right: 100px;
}

#nav-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 0.4s;
    border-radius: 3px;
}

#nav-bar li a:hover {
    background-color: #FFFFF0;
    color: #E27C97;
    border-radius: 20px;
}

h1 {
    font-family: Recoleta;
    text-align: right;
    font-size: 150px;
    color:white;
}

p {
    font-family: Inter;
    text-align: right;
    font-size: 40px;
    color:white;
}

@font-face {
    font-family: Recoleta;
    src: url(/RSC/fonts/Recoleta-RegularDEMO.otf);
}

@font-face {
    font-family: Inter;
    src: url(/RSC/fonts/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: NimbusSan;
    src: url(/RSC/fonts/NimbusSanL-Reg.otf);
}