body{
    background-color: #fffff0;
}

#top-pg{
    display: flex;
    justify-content: left;
}

h2{
    margin: 20px 0px 10px 30px;
    font-family: NimbusSanBol;
    font-size: 30px;
    color: #E27C97;
}

#buttons{
    margin-left: 1400px;
    padding-top: 30px;
}

#arrow {
    padding: 0;
    border: none;
    background: none;
    margin-left: 5px;
}

#categories {
    display: flex;
    justify-content: center;
    align-items: center;
}

#accessories-rec {
    position: relative;
    text-align: center;
    color: white;
    margin: 10px 0px 0px 10px;
}

#imgtxt{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    font-family: NimbusSanBol;
    font-size: 15px;
    color: black;
    height: 30px;
    border-radius: 5px;
    width: 55%;
    padding: 3%;
    
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 15%;
    background-color:#E27C97;
    color: white;
    text-align: center;
}

@font-face {
    font-family: NimbusSanBol;
    src: url(/RSC/fonts/NimbusSanL-Bol.otf);
}