html, body {
    width: 1920px;
    margin: 0 0 0 -5px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.partone {
    background: linear-gradient(162deg, rgba(184,196,95,1) 0%, rgba(196,49,153,1) 28%, rgba(181,16,158,1) 53%, rgba(255,0,112,1) 76%, rgba(244,0,255,1) 97%);
    height: 900px;
    padding: 20px;
}


.partone header {
    display: flex;
    padding-right: 50px;
}

.top-bar {
    margin: 0;
    padding: 0;
}

.top-bar-1 {
    width: 25%;
    float: left;
    text-align: left;
}

.tb-1-title {
    padding: 30px 16px;
    margin-left: 100px;
    font-size: 25px;
    font-family: "Recoleta";
    color: white;
}

.top-bar-2 {
    width: 45%;
    float: left;
    margin: 0px;
}

.top-bar-3 {
    width: 30%;
    float: left;
    margin: 0px;
    text-align: right;
}

.nav-bar {
    list-style-type: none;
    overflow: hidden;
    margin-left: 150px;
}

.nav-bar-2 {
    list-style-type: none;
    overflow: hidden;
}

.nav-bar li {
    float: left;
    font-size: 25px;
    font-family: "NimbusSan";
    margin-right: 100px;
}

.nav-bar-2 li {
    float: right;
    font-size: 25px;
}

.nav-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 0.4s;
    border-radius: 3px;
}

.nav-bar-2 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 0.4s;
    border-radius: 3px;
}

.nav-bar li a:hover {
    background-color: #fffff0;
    color: #e27c97;
    border-radius: 20px;
}

.nav-bar-2 li a:hover {
    background-color: #f0668b;
    border-radius: 20px;
}

.main-content {
    float: left;
    display: flex;
    margin-top: 30px;
    width: 100%;
}

.mc-side-pic {
    float: left;
    margin-left: 210px;
    width: 30%;

}

.mc-side-content {
    float:left;
    width: 50%;
}

.mc-sc-title {
    font-size: 90px;
    font-family: "Recoleta";
    color: white;
}

.mc-sc-subtext {
    font-size: 20px;
    font-family: "NimbusSanIta";
    color: white;
    font-style: italic;
    margin-top: 50px;
}

.mc-sc-start {
    margin-top: 50px;
    border: none;
    background-color: #ffbacb;
    font-size: 20px;
    font-family: "NimbusSanBol";
    color: white;
    padding: 14px 16px;
    border-radius: 5px;
    transition-duration: 0.4s;
}

.mc-sc-start:hover {
    background-color: #fffff0;
    color: #e27c97;
    cursor: pointer;
}

.mc-sc-followtext {
    font-size: 18px;
    font-family: "NimbusSan";
    color: white;
    margin-top: 70px;
}


.bottom-logo-roll {
    float: left;
    margin-top: 110px;
    border-radius: 4px;
}

.scrolling-img-inner {
    display: flex;
    white-space: nowrap;
    padding: 20px 0;
}

.scrolling-img {
    display: flex;
}

.scrolling-img-item{
    padding: 0 35px;
}

.scrolling-img-inner > div {
    animation: var(--direction) var(--marquee-speed) linear infinite;
}


@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}


.parttwo {
    background-color: #fffff0;
    background-image: url("/RSC/home-page/landing_page_2.png");
    margin-left: 10px;
    padding: 30px;
    height: 880px;
    padding-right: 50px;
}

.parttwo header {
    margin: 0 0 50px 30px;
    font-family: "Recoleta";
    font-size: 100px;
    color: #e27c97;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    width: 600px;
    height: 550px;
    margin: 10px;
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 5px 5px 8px #888888;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.item h1 {
    font-family: "NimbusSanBol";
    font-size: 40px;
}

.item p {
    font-family: "NimbusSan";
    font-size: 30px;
}

@font-face {
    font-family: Recoleta;
    src: url(/RSC/fonts/Recoleta-RegularDEMO.otf);
}

@font-face {
    font-family: NimbusSan;
    src: url(/RSC/fonts/NimbusSanL-Reg.otf);
}

@font-face {
    font-family: NimbusSanIta;
    src: url(/RSC/fonts/NimbusSanL-RegIta.otf);
}

@font-face {
    font-family: NimbusSanBol;
    src: url(/RSC/fonts/NimbusSanL-Bol.otf);
}