body{
    background-color: #fffff0; 
    overflow: hidden;
}

#top-bar {
    margin: 0;
    padding: 0;
}

#top-bar-1 {
    width: 25%;
    float: left;
    text-align: left;
}

#tb-1-title {
    padding: 30px 16px;
    margin-left: 100px;
    font-size: 25px;
    font-family: 'Recoleta';
    color: #E27C97;
}

#top-bar-2 {
    width: 45%;
    float: left;
    margin: 0px;
}

#top-bar-3 {
    width: 30%;
    float: left;
    margin: 0px;
    text-align: right;
}

#nav-bar {
    list-style-type: none;
    overflow: hidden;
    margin-left: 150px;
}

#nav-bar-2 {
    list-style-type: none;
    overflow: hidden;
}

#nav-bar li {
    float: left;
    font-size: 25px;
    font-family: 'NimbusSan';
    margin-right: 100px;
}

#nav-bar-2 li {
    float: right;
    font-size: 25px;
}
  
#nav-bar li a {
    display: block;
    color: #E27C97;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 0.4s;
    border-radius: 3px;
}

#nav-bar-2 li a {
    display: block;
    color: #E27C97;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 0.4s;
    border-radius: 3px;
}
  
#nav-bar li a:hover {
    background-color: #E27C97;
    color: #FFFFF0;
    border-radius: 20px;
}

#nav-bar-2 li a:hover {
    background-color: #f1f1ce;
    border-radius: 20px;
}

#nav-bar-2 li button {
    transition-duration: 0.4s;
    padding: 2px 15px 15px 10px;
    border: none;
    background: none;
}

#nav-bar-2 li button:hover {
    background-color: #f1f1ce;
    border-radius: 20px;
    cursor: pointer;   
}

#main-content {
    width: 100%;
}

#mc-left {
    width: 55%;
    float: left;
    padding-top: 20px;
}

#top-hr {
    margin-left: 160px;
    width: 75%;
    height: 2px;
    border: none;
    background-color: #E27C97;
}

#mc-right {
    width: 39%;
    float: left;
    padding-left: 20px;
}

#prod-container {
    display: flex;
}

#prod-overview {
    display: none;

    top: 100;
    left: 8px;
    width: 740px;
    height: 725px;
    background-color: #fffff0;
    z-index: 1;
    padding: 20px;
    text-align: right;
    float: left;
    margin-left: 160px;
}

#prod-overview-text {
    margin-top: 30px;
}

#prod-overview h1 {
    font-family: "NimbusSanBol";
}

#prod-overview p {
    font-family: "NimbusSan";
    font-size: 30px;
}

#prod-add-cart-btns {
    display: flex;
    float: right;
    margin-right: 80px;
    width: 330px;
    height: 50px;

}

.add-crt-btn {
    margin-right: 25px;
    background-color: #fffff0;
    font-family: "NimbusSanBol";
    font-size: 20px;
    width: 500px;
    height: 50px;
}

#item-ctr {
    height: 45px;
    min-width: 100px;
    display: flex;
    background-color: #fffff0;
    align-items: center;
    justify-content: center;
    font-family: "NimbusSanBol";
    border: 2px solid black;
}

#item-ctr span {
    width: 100%;
    text-align: center;
    font-size:20px;
    cursor: pointer;
}  

#item-ctr span.num {
    font-size: 25px;
    border-right: 2px solid rgba(0,0,0,0.2);
    border-left: 2px solid rgba(0,0,0,0.2);
}

#prod-overview.active {
    display: block;
}

#products-grid {
    margin-top: 15px;
    margin-bottom: 10px;
    height: 700px;
    width: 930px;
    display: grid;
    padding-left: 90px;
    grid-template-columns: repeat(3, 250px);
    justify-content: center;
    overflow-y: scroll;
    gap: 15px;
    float: right;
}

#products-grid::-webkit-scrollbar {
    display: none;
  }

#product-card {
    border-radius: 10px;
    padding: 10px;
    height: 320px;
    width: 220px;
    text-align: center;

}

#product-card img {
    width: 60%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 5px 5px 8px #888888;
}

#product-button {
    font-size: 20px;
    margin: 0 0 10px;
    font-family: "NimbusSanBol";
    border: none;
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
    color: aqua; 
}

#product-card p {
    margin: 5px 0;
    font-family: "NimbusSan";
}

@font-face {
    font-family: Recoleta;
    src: url(/RSC/fonts/Recoleta-RegularDEMO.otf);
}

@font-face {
    font-family: NimbusSan;
    src: url(/RSC/fonts/NimbusSanL-Reg.otf);
}

@font-face {
    font-family: NimbusSanIta;
    src: url(/RSC/fonts/NimbusSanL-RegIta.otf);
}

@font-face {
    font-family: NimbusSanBol;
    src: url(/RSC/fonts/NimbusSanL-Bol.otf);
}

.modal-bg {
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    display: none;
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
}

.form-box {
    width: 700px;
    height: 500px;
    position: relative;
    margin: 6% auto;
    background: #fffff0;
    padding: 5px;
    overflow: hidden;
    border-radius: 15px;
    
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.button-box {
    width: 240px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 10px;
    text-align: center;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    font-family: "NimbusSanBol";
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #e27e97;
    border-radius: 10px;
    transition: .5s;
}

.input-group {
    top: 120px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field {
    width: 550px;
    padding: 10px 0;
    margin-top: 5px;
    margin-left: 50px;
    border: 1px solid black;
    outline: none;
    background: transparent;
}

label {
    margin-left: 50px;
    font-family: "NimbusSanBol";
    font-size: 12px;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin-left: 70%;
    background: #e27e97;
    outline: none;
    font-family: "NimbusSanBol";
    color: #fff;
    border: none;
    font-size: 20px;
    margin-top: 40px;
}

#login {
    left: 50px;
}

#signup {
    left: 1050px;
}