body{
    background-color: #fffff0; 
    overflow: hidden;
}

#top-bar {
    margin: 0;
    padding: 0;
}

#top-bar-1 {
    width: 25%;
    float: left;
    text-align: left;
}

#tb-1-title {
    padding: 30px 16px;
    margin-left: 100px;
    font-size: 25px;
    font-family: 'Recoleta';
    color: #E27C97;
}

#top-bar-2 {
    width: 45%;
    float: left;
    margin: 0px;
}

#top-bar-3 {
    width: 30%;
    float: left;
    margin: 0px;
    text-align: right;
}

#nav-bar {
    list-style-type: none;
    overflow: hidden;
    margin-left: 150px;
}

#nav-bar-2 {
    list-style-type: none;
    overflow: hidden;
}

#nav-bar li {
    float: left;
    font-size: 25px;
    font-family: 'NimbusSan';
    margin-right: 100px;
}

#nav-bar-2 li {
    float: right;
    font-size: 25px;
}
  
#nav-bar li a {
    display: block;
    color: #E27C97;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 0.4s;
    border-radius: 3px;
}

#nav-bar-2 li a {
    display: block;
    color: #E27C97;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 0.4s;
    border-radius: 3px;
}
  
#nav-bar li a:hover {
    background-color: #E27C97;
    color: #FFFFF0;
    border-radius: 20px;
}

#nav-bar-2 li a:hover {
    background-color: #f1f1ce;
    border-radius: 20px;
}

#main-content {
    width: 100%;
}

#mc-left {
    width: 55%;
    float: left;
    padding-top: 20px;
}

#top-hr {
    margin-left: 160px;
    width: 75%;
    height: 2px;
    border: none;
    background-color: #E27C97;
}

#mc-right {
    width: 39%;
    float: left;
    padding-left: 20px;
}

#prod-container {
    display: flex;
}

#prod-overview {
    display: none;
    position: absolute; 
    top: 100;
    left: 8px;
    width: 1003px;
    height: 725px;
    background-color: #fffff0;
    z-index: 10;
    padding: 20px;
    text-align: right;
}

#prod-overview.active {
    display: block;
}

#products-grid {
    margin-top: 15px;
    margin-bottom: 10px;
    height: 700px;
    width: 930px;
    display: grid;
    grid-template-columns: repeat(3, 250px);
    padding: 20px;
    justify-content: center;
    overflow-y: scroll;
    gap: 15px;
    float: right;
}

#products-grid::-webkit-scrollbar {
    display: none;
  }

#product-card {
    border-radius: 10px;
    padding: 10px;
    height: 320px;
    width: 220px;
    text-align: center;

}

#product-card img {
    width: 60%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 5px 5px 8px #888888;
}

#product-button {
    font-size: 20px;
    margin: 0 0 10px;
    font-family: "NimbusSanBol";
    border: none;
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
    color: aqua; 
}

#product-card p {
    margin: 5px 0;
    font-family: "NimbusSan";
}

@font-face {
    font-family: Recoleta;
    src: url(/RSC/fonts/Recoleta-RegularDEMO.otf);
}

@font-face {
    font-family: NimbusSan;
    src: url(/RSC/fonts/NimbusSanL-Reg.otf);
}

@font-face {
    font-family: NimbusSanIta;
    src: url(/RSC/fonts/NimbusSanL-RegIta.otf);
}

@font-face {
    font-family: NimbusSanBol;
    src: url(/RSC/fonts/NimbusSanL-Bol.otf);
}